.selectedRmAutocompleteItem {
    background-color: #F1F1F2;
}

.parcelSelector, #cleanParcel {
    top: 8px;
}

.sectionInputContainer, .parcelleInputContainer {
    margin-left: 6%;
}

#cleanParcel {
    margin-left: 3%;
}