/******************************************************************************
--------------------------- CSS THEME MVIEWER / PLUi -----------------
********************************************************************************/

/*  Import du style du site internet  */
@import url("../../site_internet/css/site_internet_gris.css");

/* Colors */
:root {
--col_gris: #4D4D4D;
--police_reg: #36334F;
--col_titre: #032E46;
--police_sstitre: #57B3B9;
--col_rennes2030: #e6334c;
--col_liens: #032E46;
}

/*#map{
    width: 70% !important;
}
#zoomtoolbar {
    right: 31% !important;
}

#toolstoolbar {
    right: 31% !important;
}
*/
/* Titre de la storymap */

#content-title {
    font-family: 'vistaSansOT_bold';
    color: #032E46;
}


#layers-container-box-header {
  background-color: #e6334c!important;
}

#mv-navbar{
  border-color: var(--col_rennes2030)!important;
  background-color: var(--col_rennes2030)!important;
}

.navbar-header{
  background-color: var(--col_rennes2030)!important;
}



/* RIGHT-PANEL */
#right-panel.active {
    width:40%!important;
}

.carousel-inner{
    padding-left: 30px;
    color: white;
    width:auto!important;
    overflow: auto!important;
}

.mv-header{
    height: 0;
}

.rm-popup-text-feature {
    font-family: 'vistaSansOT_light', Arial, Sans-serif;
    color: #555;
    /* color: #863030; */
    font-size: 13px;
    margin-top: 10px;
    height: auto!important;
}


/* PANEL-STORY */

#panel-story {
    font-family: "PT_bold";
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1;
	overflow: auto;
}
.item.background{
	top:-20px;
}
.item.background:before{
	opacity: 0.7;
}
/* Openlayers 3 controls */

.ol-control button {
    background-color: rgba(149, 165, 166, 0.5);
}
.ol-control button:hover,
.ol-control button:focus {
    background-color: rgba(149, 165, 166, 0.8);
}
/* Hide zoom controls */

.ol-zoom {
    display: none;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 10px;
    left: 0;
    right: auto;
    top: auto;
}
.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0px solid #f5f5f5;
}
.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 200px;
}
.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid #A39F9F;
}
.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 1px;
    top: 1px;
}
.ol-zoom {
    top: 70%;
    left: 0.5em;
}
/* Carousel template */

.carousel-indicators {
    background-color: #d8d8d8;
}
.carousel-control span:hover {
    background-color: #8e44ad;
}
.carousel-control span {
    background-color: #9b59b6;
}
.carousel-indicators .active {
    background-color: #8e44ad;
}

.car-text-credit{
text-align: center!important;
}

/*
#car-slideauto>.slick-prev {
    left: 0px!important;
}
#car-slideauto>.slick-next {
    right: 0px!important;
}
*/


.img_downld{
    border:solid;
    padding:5px;
    background-color: white;
    position: relative;
    top: 20px;
}
.car_centertag{
    height: 95%;
}

.car_photo{
    max-width: 100%;
    max-height: 100%;
    max-height: -webkit-fill-available;
    /*height: auto;
    max-height: -webkit-fill-available;
    max-height: -moz-fit-content;
    */
}

/* custom-tooltip */

.tooltip-custom.tooltip-inner {
    /*background-color: #000000;*/
    background-color: #fff;
    padding: 10px 8px 10px;
    color: #032E46;
    font-family: "vistaSansOT_regular";
    font-size: 15px;
    letter-spacing: 1;
}
.tooltip-custom.tooltip.top .tooltip-custom.tooltip-arrow {
    border-top-color: #032E46;
}
.tooltip-custom h5 {
    margin-bottom: 0;
}
.tooltip-custom.tooltip.in {
    opacity: 1;
}
.item iframe {
    width: 100%;
    background-color: #032E46;
    /*height: 100%;    */
    /*border: none;*/
    /*border-width: thin;
    border-color: #032E46;*/
}

.cd-stretchy-nav.add-content ul span::after {
  /* triangle below the tooltip */
  border-top-color: #fff;
}

.cd-stretchy-nav.edit-content ul span::after {
  /* triangle below the tooltip */
  border-left-color: #fff;
}

/*----------------------------------------------- Modifications css*/

/* Titre StoryMap*/
#content-title h1{
	/*color:#032E46;*/
    color:#fff; 
	font-size: 40px!important;
	/*text-shadow: 0px 0px 7px rgba(0,0,0,0.9);*/
	letter-spacing: 2px;
	/*background-color: #fff;*/
    /*background-color: rgba(255, 255, 255, 0.75);*/
    background-color : rgb(230, 51, 76, 1);
	padding: 0px 10px 0px 10px;
}
#content-title h3{
	font-family: 'vistaSansOT_light';
	color:#032E46;
	font-size: 25px!important;
	text-shadow: 0px 0px 7px rgba(0,0,0,0.75);
	margin-top: -10px;
	margin-left: 11px;
	letter-spacing: 1px;
}

/* Panel-Story*/
#panel-story .etape{
	margin-left: 30px;
	color: white;
	font-family: "PT_bold";
	font-size:18px;
	background-color: black;
}
#panel-story .resume{
	margin-left: 30px;
	color: white;
	font-family: "vistaSansOT_light";
	font-size: 15px;
	padding-right: 30px;
	text-align: justify;
}
#panel-story .localisation{
	padding-left: 20px;
	margin-top: 15px;
	color: white;
	font-family: "PT_bold";
	font-size:18px;
	letter-spacing: 0.5px;
}
.localisation {
    background-image: url(image/placeholder.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
}
#panel-story .historique{
	padding-left: 20px;
	color: white;
	font-family: "PT_bold";
	font-size:18px;
	letter-spacing: 0.5px;
}
.historique {
    background-image: url(image/calendar.svg);    
    background-repeat: no-repeat;
    background-size: 15px 20px;
    margin-left: 30px;
    margin-bottom: 25px;
}
.lien_dossi {
	margin-left: 30px;
	color: #000;
	font-size:13px;
	background-color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	font-family: "vistaSansOT_bold";
}
a[href$=".pdf"],a[href^="http"] {
  color: var(--col_liens)!important;
  font-weight: bold!important;
  text-decoration: underline!important;
  text-decoration-style: dotted!important;
}
a[href$=".pdf"]:hover,a[href^="http"]:hover{
	color: var(--col_liens)!important;
	text-decoration: underline!important;
}

.slick-slide{
    text-align: -webkit-center!important;
}


.slick-arrow{
    z-index: 1080;
}

/* Style pop-up */
#carousel-modal{
    /*display: block;*/
    z-index: 1080;
    /*height: 90%;*/
}
#carousel-body{
    padding-top: 0;
    padding-bottom:30px;
}
#carousel-row{
    height: 100% !important;
}

.slide-car {
    height:100%;
}

#car-slideauto div{
    text-align:center;
    height: 100%;
}

#imagepopup{
    display:none!important;
}

#car-slideauto .text-credit {
    font-size: 11px;
}

@media (min-width: 768px) {
    .modal-lg-carousel {
        width: auto!important;
        height: 95%!important;
        padding: 0 5%!important;
    }
/*
    #carousel-modal>.modal-dialog {
        height: 95%!important;
        width: 90%!important;
    }
*/
    #carousel-modal>.modal-content{
        height: 95%!important;
        width: 95%!important;
    }
}


/*
.modal-content{
    height: 95%;
    width: 95%;
}
*/



.modal-title{
		font-family:"vistaSansOT_regular";
		color:#555;
		font-size:16px;
}

.modal-body{
	color: #555;
	font-family: "vistaSansOT_regular";
	font-size: 12px;
	text-align: justify;
	padding-top: 0px;
    height: 95%;
}

#panel-story .image-popup {
    cursor: pointer;
}

#panel-story .iframe-popup {
    cursor: pointer;
    margin: auto;
}

/* style panel story */
.title-feature {
    color: #032E46;
    font-family:"vistaSansOT_bold";
    font-size:23px;
    margin-bottom:0.25%;
    line-height:1;
    margin-top: 20px!important;
    /*
    padding-right: 30px;
    padding-left: 30px;
    */
}
.text-feature{
    font-family:"vistaSansOT_regular";
    color:#555;
    font-size:14px;
    /*margin-top:20px;
    padding-right: 30px;
    padding-left: 30px;
    */
}

.rm-soustitre{
    font-family:"vistaSansOT_bold";
    /*color:#555;*/
    color:rgb(230, 51, 76, 1);
    font-size:16px;
}
.text-actu{
    font-family:"vistaSansOT_regular";
    color:#555;
    font-size:14px;
    margin-top:10px;
    margin-right: 50px;
    margin-left: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #032E46;
}

.rm-msg-urbanisme{
    font-family: 'vistaSansOT_bold', Arial, Sans-serif;
    color:  var(--col_rennes2030)!important;
}

.rm-plus-info-p{
    text-align: center;
    /*font-size: large;*/
}
.rm-plus-info{
    border-style: solid;
    padding: 15px 10px 10px 10px;
    border-color: #555;
    border-width: thin;
}
.rm-reperes{
    font-family:"vistaSansOT_regular";
    color:#555;
    font-size:12px;
    padding-top: 5px;
    /*padding-right: 30px;
    padding-left: 30px;*/
}
.rm-clerepere{
    font-family: "vistaSansOT_bold";
}
.slide-feature{
    /*padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;*/
    
    width:80%;
    position:relative;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}
.slide-feature-popup{
    width:90%;
    height:95%;
    position:relative;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.text-credit{
    font-family:"vistaSansOT_bold";
    color:#555;
    font-size:9px;
    padding-right: 10px;
    padding-left: 10px;
    text-align:left
}
.rm-video-div{
    /*padding:0 100px;*/
    text-align: center;
}

.videoframe{
    width: 100%;
    height: 35%;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    margin-top:8px;
    margin-bottom:8px;
}
.slidecss{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ccc;
    text-align: center;
}
.center-div
{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 3px;
}
.ks-space {
    display: none;
}

.ks-btn {
    color: #032E46;
    font-family:"vistaSansOT_bold";
    font-size:14px;
}

/* bouton de légende */
#legend-btn {
    background-color: #e6334c;
}

/* style slider photo */
.slick-prev:before, .slick-next:before { 
    color: #555 !important;
}

.slick-slide {
    margin: 0px 0px;
    transition: all ease-in-out .3s;
    opacity: .75;
    text-align: center;
}
.slick-slide-image {
    display: inline-block!important;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #032E46;
    font-size: 8px;
}

.icone_categ {
    vertical-align : sub;
}

.marker-categ-bleu{
    color: #33919d;  
}
.marker-categ-vert{
    color: #8f9169;  
}

#right-panel .close {
    display : none;
}
